---
import Layout from '~/layouts/Layout.astro';
import comments from '~/data/comments';
import genomes from '~/data/genomes.json';
import GenomeHeader from '~/components/GenomeHeader.astro';
import type { Comment, NestedComment } from '~/types/pubs';
import CommentList from '~/components/CommentList.astro';
import { SquareDashed } from 'lucide-react';

export function getStaticPaths() {
	return genomes.map((genome) => {
		return { params: { slug: genome.slug } };
	});
}
const { slug } = Astro.params;
const activeGenome = genomes.find((genome) => {
	return genome.slug === slug;
});
if (!activeGenome) {
	return null;
}
const activeComments = comments.filter((comment) => {
	return comment.genomeId === activeGenome.id;
});
const nestComments = (comments: Comment[]): NestedComment[] => {
	const commentMap = new Map();

	comments.forEach((comment) => {
		commentMap.set(comment.id, { ...comment, replies: [] });
	});

	const nestedComments: NestedComment[] = [];

	comments.forEach((comment) => {
		if (comment.parentCommentId) {
			const parentComment = commentMap.get(comment.parentCommentId);
			if (parentComment) {
				parentComment.replies.push(commentMap.get(comment.id));
			}
		} else {
			nestedComments.push(commentMap.get(comment.id));
		}
	});

	return nestedComments;
};

const nestedComments = nestComments(activeComments);
---

<Layout title={`${activeGenome.commonName} · UGNR`}>
	<main class="">
		<GenomeHeader genome={activeGenome} />
		<section class="min-h-96 mb-32 w-content">
			{!!nestedComments.length && <CommentList nestedComments={nestedComments} />}
			{
				!nestedComments.length && (
					<div class="flex flex-col items-center opacity-50 space-y-4 my-20">
						<SquareDashed size={96} className=""/>
						<div class="text-xl font-bold uppercase">No Comments Yet</div>
					</div>
				)
			}
		</section>
	</main>
</Layout>
