---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<main>
		<section class="mt-8 mb-32 min-h-96 w-content">
			<h2 class="text-4xl font-bold mb-8">About</h2>
			<div class="prose">
				<p>
					Welcome to the Universal Genome Note Repository. This site serves as a prototype
					for the project, which seeks to build a repository that serves as an accessible
					hub for genome notes and insights contributed by researchers and institutions
					globally, aligning with the Earth BioGenome Project's vision of sequencing all
					known eukaryotic life. By fostering interoperability across publications and
					databases, this platform enables researchers to collaborate on and enhance
					global genomic resources, contributing to a comprehensive understanding of
					biodiversity.
				</p>

				<p>
					We invite you to explore the demo and consider joining us in this endeavor. Your
					feedback is invaluable in shaping its ongoing development, and we're eager to
					connect with researchers and projet leads to better understand how we can build
					a resource that serves you. Reach out to us at Karen Houliston (<a
						href="mailto:kh18@sanger.ac.uk?subject=Feedback%20on%20Universal%20Genome%20Note%20Repository"
						>kh18@sanger.ac.uk</a
					>) to share your thoughts or to join the collaborative process.
				</p>
			</div>
		</section>
	</main>
</Layout>
