---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<main>
		<section class="mt-8 mb-32 min-h-96 w-content">
			<h2 class="text-4xl font-bold mb-8">About</h2>
			<div class="prose">
				<p>
					We should use this page to highlight parts of the project that we think make the
					most compelling pitch for other project leads.
				</p>
				<p>
					We can describe the vision that the demo is trying to communicate, benefits,
					etc.
				</p>
				<p>
					We likely want to include an email or some instructions on who to get in touch
					with to get involved.
				</p>
			</div>
		</section>
	</main>
</Layout>
