---
import Layout from '~/layouts/Layout.astro';
import genomeNotes from '~/data/genomeNotes.json';
import type { PopulatedGenome } from '~/types/pubs';
import { getGenome } from '~/lib/populateData';
import { getProjectFromGenome } from '~/lib/genomeHelpers';
import GenomeExplore from '~/components/GenomeExplore';
const populatedGenomes: PopulatedGenome[] = genomeNotes.map((genomeNote) => {
	const genome = getGenome(genomeNote.genomeId);
	const project = getProjectFromGenome(genome.id);
	return {
		...genome,
		genomeNote,
		project,
	};
});
---

<Layout title="Explore">
	<main>
		<section class="mt-8 mb-32 min-h-96 w-content">
			<h2 class="text-4xl font-bold mb-8">Explore</h2>

			<div class="grid md:grid-cols-[250px,1fr] gap-8">
				<GenomeExplore allGenomes={populatedGenomes} client:only="react" />
			</div>
		</section>
	</main></Layout
>
