---
import Layout from '../layouts/Layout.astro';
import { Button } from '~/components/ui/button';
import projects from '~/data/projects.json';
const things = {
	dog: 'string',
	cat: 5,
	fish: ['a', 'b'],
};

type ThingType = typeof things;
---

<Layout title="Welcome to Astro.">
	<main>
		<input />
		
		<div>Powered by the network of Earth BioGenome projects</div>
		<div>{projects.map((project)=>{
			return <div>{project.name}</div>
		})}</div>
	</main>
</Layout>
