---
import Layout from '../layouts/Layout.astro';
import { Button } from '~/components/ui/button';

const things = {
	dog: 'string',
	cat: 5,
	fish: ['a', 'b'],
};

type ThingType = typeof things;
---

<Layout title="Welcome to Astro.">
	<main>
		Hello Landing
		{
			Object.keys(things).map((key) => {
				return (
					<div>
						{key}: {typeof things[key]}
					</div>
				);
			})
		}
		<Button>Hello World</Button>
	</main>
</Layout>
