---
import Layout from '../layouts/Layout.astro';
import AnimatedGridPattern from '~/components/ui/animated-grid-pattern';
import { cn } from '~/lib/utils';

import projects from '~/data/projects.json';
---

<Layout title="Universal Genome Note Repository">
	<main>
		<section class="py-24 relative overflow-hidden">
			<div class="w-content">
				<div class="text-2xl text-center font-bold pb-12 text-black/70">
					Powered by the global network of Earth BioGenome projects
				</div>
				<div
					class="text-justify text-2xl text-black/35 uppercase font-extrabold leading-relaxed tracking-wider"
				>
					{
						projects.map((project, index) => {
							return (
								<>
									{index !== 0 && <span class="">•</span>}
									<span class="hover:text-black/90">
										<a
											class="hover:no-underline"
											href={`/project/${project.slug}`}
										>
											{project.name}
										</a>
									</span>
								</>
							);
						})
					}
				</div>
			</div>
			<AnimatedGridPattern
				client:only="react"
				numSquares={30}
				maxOpacity={0.1}
				duration={3}
				repeatDelay={1}
				className={cn(
					'[mask-image:radial-gradient(60vw_circle_at_center,white,transparent)]',
					'inset-x-0 inset-y-[-30%] h-[200%] -skew-y-12'
				)}
			/>
		</section>
		<section class="bg-[#f6f3ee] py-24">
			<div class="w-content-narrow text-center text-2xl leading-relaxed text-black/70">
				<p>
					The Universal Genome Note Repository enables the affordable, open publication
					of vast numbers of genome notes, along with their technical reviews, data, and
					public commentary. It serves as a common, interoperable home for work that
					exists in other databases and systems, making it easy for projects to connect
					without disrupting established workflows.
				</p>
			</div>
		</section>
	</main>
</Layout>
