---
import DemoCard from '~/components/DemoCard';

const links = [
	{ text: 'Explore', href: '/explore' },
	{ text: 'Projects', href: '/projects' },
	{ text: 'About', href: '/about' },
];
---

<section class={`bg-[url('/header-bg.jpg')] bg-cover bg-bottom py-20 text-white`}>
	<div class="w-content flex flex-col items-center md:flex-row md:items-start md:justify-between">
		<div><DemoCard client:load /></div>
		<div class="mt-16 md:my-0 flex md:flex-col space-x-8 md:space-x-0 md:items-end md:space-y-4">
			{
				links.map(({ text, href }) => {
					return <a href={href}>{text}</a>;
				})
			}
		</div>
	</div>
</section>
