---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }
// const { href, title, body } = Astro.props;

import logo from '~/assets/logo.png';
import { Image } from 'astro:assets';
const isLanding = Astro.url.pathname === '/';
const links = [
	{ title: 'Explore', href: '/explore', active: Astro.url.pathname.startsWith('/explore') },
	{ title: 'Projects', href: '/projects', active: Astro.url.pathname.startsWith('/projects') },
	{ title: 'Community', href: '/community', active: Astro.url.pathname.startsWith('/community') },
	{ title: 'About', href: '/about', active: Astro.url.pathname.startsWith('/about') },
];
---

<nav
	class={`py-4 flex justify-between items-center ${isLanding ? '' : 'border-b'} border-b-neutral-300`}
>
	<a href="/"><Image class="mix-blend-darken h-16 w-auto" src={logo} alt="logo" /></a>
	<div class="flex space-x-8">
		{
			links.map((link) => {
				return (
					<a
						href={link.href}
						class={link.active ? 'underline underline-offset-4' : 'underline-offset-4'}
					>
						{link.title}
					</a>
				);
			})
		}
	</div>
</nav>
