---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }
// const { href, title, body } = Astro.props;

import logoWhite from '~/assets/logoWhite.png';
import { Image } from 'astro:assets';
import LandingInput from '~/components/LandingInput';

const isLanding = Astro.url.pathname === '/';
const links = [
	{ title: 'Explore', href: '/explore', active: Astro.url.pathname.startsWith('/explore') },
	{ title: 'Projects', href: '/projects', active: Astro.url.pathname.startsWith('/projects') },
	{ title: 'Community', href: '/community', active: Astro.url.pathname.startsWith('/community') },
	{ title: 'About', href: '/about', active: Astro.url.pathname.startsWith('/about') },
];
---

<section class={`bg-[url('/header-bg.jpg')] bg-cover`}>
	<nav
		class={`w-content py-4 flex flex-col md:flex-row justify-between items-center border-b-neutral-300 text-white`}
	>
		<div class="relative">
			<a href="/"><Image class="h-16 w-auto" src={logoWhite} alt="logo" /></a>
			<div class="text-sm tracking-wide absolute top-11 left-[35px] italic opacity-60">A resource of the Earth BioGenome Project</div>
		</div>
		<div class="flex space-x-8">
			{
				links.map((link) => {
					return (
						<a
							href={link.href}
							class={
								link.active ? 'underline underline-offset-4' : 'underline-offset-4'
							}
						>
							{link.title}
						</a>
					);
				})
			}
		</div>
	</nav>
	{
		isLanding && (
			<div class="flex items-center max-w-screen-sm mx-auto px-4 md:px-0">
				<div class="w-full mt-48 mb-32">
					<LandingInput client:load />
					<div class="text-white/70 mt-4 text-lg">
						<span class="">Examples:</span>
						<a href="/genome/large-blue-butterfly">Large Blue Butterfly</a>
						<span>•</span>
						<a href="/project/sao-paulo-genome-alliance">São Paulo Genome Alliance</a>
						<span>•</span>
						<a href="/author/jane-thompson">Jane Thompson</a>
					</div>
				</div>
			</div>
			//
		)
	}
</section>
