---
interface Props {
	text: string;
}

const { text } = Astro.props;
---

<div class="w-36 h-36 rounded flex justify-center items-center text-7xl font-bold bg-[#BAB4AB] text-neutral-800">
	{text}
</div>
