---
import Layout from '~/layouts/Layout.astro';
import projects from '~/data/projects.json';
import genomeNotes from '~/data/genomeNotes.json';
import genomes from '~/data/genomes.json';
import projectGenomeNotes from '~/data/projectGenomeNotes.json';
import ProjectHeader from '~/components/ProjectHeader.astro';
import { getGenomeNote, getGenome } from '~/lib/populateData';
import { getProjectFromGenome } from '~/lib/genomeHelpers';

export function getStaticPaths() {
	return projects.map((project) => {
		return { params: { slug: project.slug } };
	});
}
const { slug } = Astro.params;
const activeProject = projects.find((project) => {
	return project.slug === slug;
});
if (!activeProject) {
	return null;
}

const activeProjectGenomeNotes = projectGenomeNotes.filter((projectGenomeNote) => {
	return projectGenomeNote.projectId === activeProject.id;
});
const activeGenomes = activeProjectGenomeNotes.map((projectGenomeNote) => {
	const genomeNote = getGenomeNote(projectGenomeNote.genomeNoteId);
	const genome = getGenome(genomeNote.genomeId);
	const project = getProjectFromGenome(genome.id);
	return { ...genome, genomeNote, project };
});
---

<Layout title={`${activeProject.name} · UGNR`}>
	<main class="">
		<ProjectHeader project={activeProject} />
		<section class="w-content-narrow min-h-96 mb-32">
			<div class="prose">
				<p>
					{activeProject.name} is a joint initiative involving a dozen organizations specializing
					in biodiversity, genomics, and data analysis. Working together, we are collecting
					and identifying samples, extracting and sequencing DNA and RNA, and assembling and
					annotating the genomes of around 65,000 species that inhabit these regions. All data
					will be made openly accessible for use in research, conservation, biotech innovations,
					and more.
				</p>

				<p>
					{activeProject.name} aims to eventually sequence all documented eukaryotic species
					across Northern Isles and the continent, and we encourage the community to provide
					input on which species to prioritize.
				</p>
				<p>
					Our project is committed to fostering collaboration and knowledge sharing among
					scientists, researchers, and enthusiasts worldwide. By creating a comprehensive
					genomic database, we hope to unlock new insights into the evolutionary history
					and biological diversity of these species.
				</p>

				<p>
					We also aim to support conservation efforts by providing critical genetic
					information that can help protect endangered species and their habitats. Through
					this initiative, we strive to make a lasting impact on biodiversity preservation
					and scientific discovery.
				</p>
			</div>
		</section>
	</main>
</Layout>
