---
import Layout from '~/layouts/Layout.astro';
import projects from '~/data/projects.json';
import genomeNotes from '~/data/genomeNotes.json';
import genomes from '~/data/genomes.json';
import projectGenomeNotes from '~/data/projectGenomeNotes.json';
import ProjectHeader from '~/components/ProjectHeader.astro';
import { getGenomeNote, getGenome } from '~/lib/populateData';
import GenomeList from '~/components/GenomeList';

export function getStaticPaths() {
	return projects.map((project) => {
		return { params: { slug: project.slug } };
	});
}
const { slug } = Astro.params;
const activeProject = projects.find((project) => {
	return project.slug === slug;
});
if (!activeProject) {
	return null;
}

const activeProjectGenomeNotes = projectGenomeNotes.filter((projectGenomeNote) => {
	return projectGenomeNote.projectId === activeProject.id;
});
const activeGenomes = activeProjectGenomeNotes.map((projectGenomeNote) => {
	const genomeNote = getGenomeNote(projectGenomeNote.genomeNoteId);
	const genome = getGenome(genomeNote.genomeId);
	return { ...genome, genomeNote };
});
---

<Layout title={`${activeProject.name} · UGNR`}>
	<main class="">
		<ProjectHeader project={activeProject} />
		<section class="w-content-narrow min-h-96 mb-32">
			<GenomeList genomes={activeGenomes} client:only="react" />
		</section>
	</main>
</Layout>
