---
import AdminLayout from '~/layouts/AdminLayout.astro';
---

<AdminLayout title="Workflow · Admin">
	<div class="flex items-center">
		<h1 class="text-lg font-semibold md:text-2xl">Workflow</h1>
	</div>
</AdminLayout>
